<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('案例详情')"/>
    <th:block th:include="include :: jsonview-css"/>
    <style type="text/css">
        div#gray {
            /*背景颜色 */
            background: black;
            /*设置透明度 */
            opacity: 0.55;
            filter: alpha(opacity=55);
            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m-t" id="signupForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">发布用户：</label>
            <div class="col-sm-8">
                <div th:text="${Case.createBy}==null">
                    <div class="form-control-static" th:text="无"></div>
                </div>
                <div class="form-control-static" th:text="${Case.createBy}"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">发布时间：</label>
                <div class="form-control-static">
                    <div class="col-sm-8" style="line-height: 17px;" th:text="${#dates.format(Case.createTime,'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">发布用户身份：</label>
<!--            <div class="form-control-static" th:text="${Case.userType} "></div>-->
            <div class="col-sm-8" th:if="${Case.userType} == 1">
                <div class="form-control-static" th:text="KOL"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.userType} == 2">
                <div class="form-control-static" th:text="名师"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.userType} == 3">
                <div class="form-control-static" th:text="机构"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.userType} == 4">
                <div class="form-control-static" th:text="系统"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.userType} == null">
                <div class="form-control-static" th:text="无"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">案例标题：</label>
            <div class="col-sm-8">
                <div class="form-control-static" th:text="${Case.evtTitle}"></div>
                <div th:if="${Case.evtTitle} == null">
                    <div class="form-control-static" th:text="无"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">案例Banner：</label>
            <div class="col-sm-8">
                <td><img th:src="${Case.evtImgUrl}" th:high="100" th:width="100" onclick="show(this)"/></td>
                </tr>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">案例类型：</label>
<!--            <div class="form-control-static" th:text="${Case.evtType}"></div>-->
            <div class="col-sm-8" th:if="${Case.evtType} == 0">
                <div class="form-control-static" th:text="体验课"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.evtType} == 1">
                <div class="form-control-static" th:text="讲座"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.evtType} == 2">
                <div class="form-control-static" th:text="参访"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.evtType} == 3">
                <div class="form-control-static" th:text="游园"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.evtType} == 4">
                <div class="form-control-static" th:text="研学"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.evtType} == 5">
                <div class="form-control-static" th:text="其他"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">案例方式：</label>
<!--            <div class="form-control-static" th:text="${Case.evtWay}"></div>-->
            <div class="col-sm-8" th:if="${Case.evtWay} == 0">
                <div class="form-control-static" th:text="线下"></div>
            </div>
            <div class="col-sm-8" th:if="${Case.evtWay} == 1">
                <div class="form-control-static" th:text="线上"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">线上案例链接：</label>
            <div class="form-control-static">
                <div  th:if="${Case.evtCoDdress} != null" >
                    <a class="col-sm-8" style="line-height: 17px;" th:href="${Case.evtCoDdress}" target="_blank">点击跳转</a>
                </div>
                <div  th:if="${Case.evtCoDdress} == null">
                    <div class="col-sm-8" style="line-height: 17px;" th:text="无"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">线下案例地址：</label>
            <div class="col-sm-8">
                <div  th:if="${Case.evtAddress} != null">
                    <div class="form-control-static" th:text="${Case.evtAddress}"></div>
                </div>
                <div  th:if="${Case.evtAddress} == null" >
                    <div class="form-control-static" th:text="无"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">开始时间：</label>
            <div class="form-control-static">
                <div class="col-sm-8" style="line-height: 17px;" th:text="${#dates.format(Case.evtStartTime,'yyyy-MM-dd HH:mm:ss')}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">结束时间：</label>
            <div class="form-control-static">
                <div class="col-sm-8" style="line-height: 17px;" th:text="${#dates.format(Case.evtEndTime,'yyyy-MM-dd HH:mm:ss')}"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">案例内容：</label>
            <div class="col-sm-8">
                <div class="form-control-static" th:text="${Case.evtContent}"></div>
                <div th:if="${Case.evtContent} == null">
                    <div class="form-control-static" th:text="无"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">创建时间：</label>
            <div class="col-sm-8">
                <div th:if="${Case.createTime} == null">
                    <div class="form-control-static" th:text="无"></div>
                </div>
                <div style="line-height: 30px;" th:text="${#dates.format(Case.createTime,'yyyy-MM-dd HH:mm:ss')}"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">修改时间：</label>
            <div class="col-sm-8">
                <div th:if="${Case.updateTime} == null">
                    <div class="form-control-static" th:text="无"></div>
                </div>
                <div style="line-height: 30px;" th:text="${#dates.format(Case.updateTime,'yyyy-MM-dd HH:mm:ss')}"></div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: jsonview-js"/>
<script th:inline="javascript">
    function show(pic) {
        //获取图片的宽和高
        iw = pic.width;
        ih = pic.height;
        //获取屏幕的宽和高
        sw = document.documentElement.clientWidth;
        sh = document.documentElement.clientHeight;
        //动态的创建一个灰色的背景div，就是那个我们带点击后，大图后面的那个灰色的那个背景，当然灰色是可以自由设置的
        gdiv = document.createElement('div');
        gdiv.id = 'gray';
        gdiv.style.height = sh + 'px';
        gdiv.style.width = sw + 'px';
        document.body.appendChild(gdiv);
        //删除动态的图片和对象，就是我们点击放大后，再次点击的时候，放大的图片会被删除，并且后面的那个背景也会随之删除，这个方法就是为了完成这个效果
        gdiv.onclick = function () {
            document.body.removeChild(this);
            document.body.removeChild(oimg);
        }
        //创建动态的图片对象，将该对象的src赋值为原图的src,这就是来创建我们放大后看大的那个图片
        oimg = document.createElement('img');
        oimg.src = pic.src;
        oimg.width = 400;
        oimg.height = 400;
        oimg.style.position = 'absolute';
        oimg.style.top = (sh - ih) / 6 + 'px';
        oimg.style.left = (sw - ih) / 4 + 'px';
        document.body.appendChild(oimg);
    }

    //设置图片的位置来适应窗口的大小
    window.onresize = function () {
        sh = document.documentElement.clientHeight;
        sw = document.documentElement.clientWidth;
        gdiv.style.width = sw + 'px';
        gdiv.style.height = sh + 'px';
        //更改图片的位置
        oimg.style.top = (sh - ih) / 3 + 'px';
        oimg.style.left = (sw - iw) / 3 + 'px';
    }
</script>
</body>
</html>