<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.xiaoyi.dao.LiveCourseDetailMapper">

    <resultMap id="courseDetailMap" type="com.ruoyi.web.controller.xiaoyi.domain.LiveCourseDetail">
        <id property="id" column="id"></id>
        <result property="courseId" column="course_id"></result>
        <result property="lessonId" column="lesson_id"></result>
        <result property="lessonName" column="lesson_name"></result>
        <result property="code" column="code"></result>
        <result property="lessonNum" column="lesson_num"></result>
        <!--<result property="lessonDate" column="lesson_date"></result>-->
        <result property="startTime" column="start_date"></result>
        <result property="endTime" column="end_date"></result>
        <result property="orgCode" column="org_code"></result>
    </resultMap>

    <select id="selectByCourseId" parameterType="int" resultMap="courseDetailMap">
        SELECT * FROM `ty_course_detail` where course_id = #{courseId}
    </select>

    <update id="updateXiaoYiCourseDetail" parameterType="com.ruoyi.web.controller.xiaoyi.domain.LiveCourseDetail">
        update ty_course_detail
        <trim prefix="set" suffixOverrides=",">
            <if test="lessonId != null and lessonId !='' ">
                lesson_id = #{lessonId}
            </if>
        </trim>
        where id = #{id}
    </update>

</mapper>