<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('智能录播-精编版详情')"/>
    <th:block th:include="include :: jsonview-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m-t" id="signupForm">
        <div data-v-177bc009="" class="z_zb_cent_box col-sm-12 col-lg-12 row mb-4 clearPaddingMargin z_edit_box">
            <div data-v-177bc009="" class="z_zb_cent_boxc col-sm-12 col-lg-10">
                <div data-v-177bc009="" class="z_zb_cent_box col-sm-12 col-lg-12 row clearPaddingMargin z_edit_tit">
                    <div data-v-177bc009="" class="z_zb_cent_boxc col-sm-12 col-lg-12 md-4">
                        <span>
                            <table id="teachers-highlight" border="0" cellspacing="0" style="width:100%;border-style: hidden" width="493">
   <tbody>
    <tr class="firstRow">
     <td style="padding: 0px; word-break: break-all;" width="235"><p style="margin:0px 0 10px 18px;height: 35px;width: 8px;background-color: #56b430;float:left"><br /> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><p style="font-size: 15px;color: #4c4c4c;margin:0px 0 10px 15px;height: 35px;line-height:35px;float:left;">课程详情</p></td>
    </tr>
   </tbody>
  </table>
  <table border="0" cellspacing="0" align="center" frame="void" style="font-size: 15px;border-collapse: separate;padding: 0 18px;border:  none;border-style: hidden;width: 100%;margin-bottom: 20px;" width="493">
   <tbody rules="none">
    <tr rules="none" style="background-color: rgb(238,247,234);" class="firstRow">
     <td valign="top" style="text-align: center; border-style: hidden; padding: 30px; white-space: nowrap; vertical-align: middle; color: rgb(255, 255, 255); word-break: break-all;"><p style="background-color:rgb(252,206,47);border-radius: 100px;width:  144px;height: 148px;">
         <img style="width:144px;height:144px;border-radius:100px;" th:src="${record.cover}" title="1568684038013085371.png" alt="1.png" /> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p></td>
     <td valign="top" style="word-break: break-all;border-style: hidden;padding: 30px 30px 30px 0;">
         <p style="background-color:rgb(86,180,48);height: 42px;font-size:15px;border-radius:30px;color: #fff;text-align:  center;line-height: 42px;" th:text="${record.courseName}"></p>
         <p style="padding-top: 16px;">课程版本:[[${record.isRevised}]]</p>
         <p style="padding-top: 16px;">教师名称:[[${record.teacherName}]]</p>
         <p style="padding-top: 16px;">课时数:[[${record.courseNum}]]</p>
         <p style="padding-top: 16px;">频道编号:[[${record.channelId}]]</p>
         <p style="padding-top: 16px;">分类编号:[[${record.cataId}]]</p>
     </td>
    </tr>
   </tbody>
  </table>
                        </span>
                    </div>
                    <div data-v-177bc009="" class="z_zb_cent_boxc col-sm-12 col-lg-12">

                        <p data-v-177bc009="" class="col-sm-12 col-xl-6" th:text="${record.desc}"> </p>
                        <p></p>
                    </div>
                    <div data-v-177bc009="" class="z_zb_cent_boxc col-sm-12 col-lg-12" th:if="${recordDetail.size()>0}">
                        <table border="0" cellspacing="0" style="margin-top:20px;width:100%;border-style: hidden" width="493"><tbody><tr class="firstRow"><td style="padding: 0px; word-break: break-all;" width="112"><p style="margin:0px 0 10px 18px;height: 35px;width: 8px;background-color: #56b430;float:left"><br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><p style="font-size: 15px;color: #4c4c4c;margin:0px 0 10px 15px;height: 35px;line-height:35px;float:left;">课节内容</p><p style="font-size: 15px;color: #4c4c4c;margin:0px 0 10px 15px;height: 35px;line-height:35px;float:left;"><br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><p style="font-size: 15px;color: #4c4c4c;margin:0px 0 10px 15px;height: 35px;line-height:35px;float:left;"><br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p></td></tr></tbody></table>
                        <table data-v-177bc009="" style="margin-left: 20px;font-size:15px " class="z_table">
                            <tbody>
                            <tr data-v-177bc009="">
                                <th data-v-177bc009="" style="width: 180px;">课节编号</th>
                                <th data-v-177bc009="" style="width: 180px;">课节名称</th>
                                <th data-v-177bc009="" style="width: 180px;">课节时</th>
                                <th data-v-177bc009="" style="width: 360px;">操作</th>
                            </tr>
                            <tr data-v-177bc009="" th:each="detail,detailStatus:${recordDetail}">
                                <td data-v-177bc009="" style="width: 180px;">[[${detail.id}]]</td>
                                <td data-v-177bc009="" style="width: 180px;">[[${detail.lessonName}]]</td>
                                <td data-v-177bc009="" style="width: 180px;">
                                    [[${detail.recordHour}]]
                                </td>
                                <td data-v-177bc009="" style="width: 180px;">
                                    <span th:if="${detail.vid !=null and detail.vid != ''}">
                                        <a target="_blank" th:href="@{'/xiaoyi/record/player/'+${detail.vid}}">播放</a>
                                    </span>
                                    <span th:if="${detail.vid == null || detail.vid == ''}">
                                        <a style="color: #8d8d8d" href="javascript:void(0);alert('视频正在制作中！');">播放</a>
                                    </span>
                                </td>
                                <td data-v-177bc009="" style="width: 180px;">
                                    <a th:href="@{'/xiaoyi/file/?url='+${detail.mp4}}">下载</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: jsonview-js"/>
<script th:inline="javascript">
</script>
</body>
</html>