<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('智能录播-精编版列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="post-form">
                <div class="select-list">
                    <ul>
                        <li>
                            机构名称：<input type="text" name="siteName" placeholder="请输入关键字"/>
                        </li>
                        <li>
                            视频名称：<input type="text" name="courseName" placeholder="请输入关键字"/>
                        </li>
                        <li>
                            授课老师：<input type="text" name="teacherName" placeholder="请输入关键字"/>
                        </li>
                        <li>
                            上传时间：
                            <select name="orderByType">
                                <option value="0">由近到远</option>
                                <option value="1">由远到近</option>
                            </select>
                        </li>
<!--                        <li>-->
<!--                            发布状态：<select name="videoStatus" th:with="type=${@Lz_dict.getType('videoStatusType')}">-->
<!--                            <option value="0">全部</option>-->
<!--                            <option th:each="Lz_dict : ${type}" th:text="${Lz_dict.codeName}" th:value="${Lz_dict.codeNo}"></option></select>-->
<!--                        </li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var data = [[${@Lz_dict.getType('recordCourseType')}]];
    var datas = [[${@Lz_dict.getType('videoStatusType')}]];
    var prefix = ctx + "xiaoyi/intelligentRecord";
    $(function() {
        var options = {
            url: prefix +"/list",
            detailUrl: prefix + "/detailed/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            modalName: "直播课程管理",
            columns: [
                {
                    field: 'id',
                    title: '课程编号'
                },
                {
                    field: 'siteName',
                    title: '机构名称'
                },
                {
                    field: 'courseName',
                    title: '视频名称'
                },
                {
                    field: 'cataId',
                    title: '分类编号'
                },
                {
                    field: 'channelId',
                    title: '频道编号'
                },
                {
                    field: 'polyTitle',
                    title: '文件名称'
                },
                {
                    field: 'duration',
                    title: '时间长度'
                },
                {
                    field: 'teacherName',
                    title: '授课老师'
                },
                {
                    field: 'creator',
                    title: '创建人'
                },
                {
                    field: 'createDate',
                    title: '发布时间'
                },
                {
                    field: 'isRevised',
                    title: '课程类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel1(data, value);
                    }
                },
                {
                    field: 'videoStatus',
                    title: '课程状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel1(datas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>