<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.user.dao.ChannelMapper">

    <resultMap type="com.ruoyi.web.controller.user.domain.OrderChannel" id="OrderChannelResult">
        <id property="id" column="id"/>
        <result property="channelName" column="channel_name"/>
        <result property="channel" column="channel"/>
    </resultMap>

    <select id="selectOrderChannel" resultMap="OrderChannelResult">
        SELECT channel_name, channel
        FROM ty_order_channel
    </select>

</mapper>