<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.user.dao.OrgMapper">

    <resultMap type="com.ruoyi.web.controller.user.bean.OrgBean" id="OrgResult">
        <id property="userId" column="user_id"/>
        <result property="telNum" column="tel_num"/>
        <result property="realName" column="real_name"/>
        <result property="userType" column="user_type"/>
        <result property="userState" column="user_state"/>
        <result property="headImgUrl" column="head_img_url"/>
        <result property="platform" column="platform"/>
        <result property="role" column="role"/>
        <result property="contacts" column="contacts"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="campus" column="campus"/>
        <result property="personalInfo" column="personal_info"/>
        <result property="isDelete" column="is_delete"/>

    </resultMap>

    <select id="selectOrg" parameterType="OrgBean" resultMap="OrgResult">
        SELECT u.user_id, u.tel_num, u.user_type, u.user_state, u.tel_num, t.real_name, t.campus,
        t.phone, t.address,t.personal_info ,t.contacts
        FROM lz_pf_user u, lz_pf_user_info t
        WHERE u.user_id = t.user_id AND u.is_delete ='1' AND u.user_type ='3' AND t.org_id IS NULL

        <if test="realName != null and realName != ''">
            AND t.real_name like concat('%', #{realName}, '%')
        </if>

        ORDER BY u.create_time DESC
    </select>

    <select id="selectOrgByIds" parameterType="String" resultMap="OrgResult">
        SELECT u.user_id, u.tel_num, u.user_type, u.user_state, u.tel_num, t.real_name, t.nick_name,
        t.campus, t.phone, t.address,t.personal_info ,t.contacts
        FROM lz_pf_user u, lz_pf_user_info t
        WHERE u.user_id = t.user_id AND u.is_delete ='1' AND u.user_type ='3' AND t.user_id in

        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="selectOrgById" parameterType="String" resultMap="OrgResult">
        SELECT u.user_id, u.tel_num, u.user_type, u.tel_num, u.user_state, t.real_name, t.nick_name, t.campus,
          t.phone, t.address,t.personal_info ,t.contacts
        FROM lz_pf_user u, lz_pf_user_info t
        WHERE u.user_id = t.user_id AND u.is_delete ='1' AND u.user_id=#{userId}
    </select>


    <select id="selectOrgByTel" parameterType="String" resultType="int">
        select count(1) from lz_pf_user where tel_num=#{telNum} AND is_delete='1'
    </select>


    <insert id="insertOrgInfo" parameterType="OrgBean" keyProperty="userInfoId">
        insert into lz_pf_user_info(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="userInfoId != null and userInfoId != ''">user_info_id,</if>
        <if test="realName != null and realName != ''">real_name,</if>
        <if test="orgId != null and orgId != ''">org_id,</if>
        <if test="contacts != null and contacts != ''">contacts,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="campus != null and campus != ''">campus,</if>
        <if test="personalInfo != null and personalInfo != ''">personal_info,</if>
        is_delete

        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="userInfoId != null and userInfoId != ''">#{userInfoId},</if>
        <if test="realName != null and realName != ''">#{realName},</if>
        <if test="orgId != null and orgId != ''">#{orgId},</if>
        <if test="contacts != null and contacts != ''">#{contacts},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="address != null and address != ''">#{address},</if>
        <if test="campus != null and campus != ''">#{campus},</if>
        <if test="personalInfo != null and personalInfo != ''">#{personalInfo},</if>
        '1'
        )
    </insert>

    <insert id="insertOrg" parameterType="OrgBean" keyProperty="userId">
        insert into lz_pf_user(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="telNum != null and telNum != ''">tel_num,</if>
        <if test="userType != null and userType != ''">user_type,</if>
        <if test="userState != null and userState != ''">user_state,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="platform != null and platform != ''">platform,</if>
        <if test="role != null and role != ''">role,</if>
        is_delete

        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="telNum != null and telNum != ''">#{telNum},</if>
        <if test="userType != null and userType != ''">#{userType},</if>
        <if test="userState != null and userState != ''">#{userState},</if>
        <if test="password != null and password != ''">>#{password},</if>
        <if test="platform != null and platform != ''">#{platform},</if>
        <if test="role != null and role != ''">#{role},</if>
        '1'
        )
    </insert>


    <update id="updateOrgInfo" parameterType="OrgBean">
        update lz_pf_user_info
        <set>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="headImgUrl != null and headImgUrl != ''">head_img_url = #{headImgUrl},</if>
            <if test="contacts != null and contacts != ''">contacts = #{contacts},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="personalInfo != null and personalInfo != ''">personal_info = #{personalInfo},</if>
            <if test="campus != null and campus != ''">campus = #{campus}</if>
        </set>
        where user_id = #{userId}
    </update>


    <update id="updateOrg" parameterType="OrgBean">
        update lz_pf_user
        <set>
            <if test="userState != null and userState != ''">user_state = #{userState},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete}</if>
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateOrgById" parameterType="String">
        update lz_pf_user
        <set>
            is_delete = '2'
        </set>
        where user_id = #{userId}
    </update>

</mapper>