<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.web.controller.report.dao.ReportMapper">

	<resultMap type="Cour" id="CourseResult">
		<id property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="PV" column="PV"/>
		<result property="UV" column="UV"/>
		<result property="isDel" column="is_del"/>
		<result property="isShow" column="is_show"/>
		<result property="status" column="status"/>
		<result property="regDate" column="reg_date"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="courseName" column="course_name"/>
	</resultMap>

	<resultMap type="Orders" id="OrdersResult">
		<id property="id" column="id"/>
		<result property="courseName" column="course_name"/>
		<result property="payType" column="pay_type"/>
		<result property="refundName" column="refund_name"/>
		<result property="refundDate" column="refund_date"/>
		<result property="createDate" column="create_date"/>
		<result property="orgCode" column="org_code"/>
		<result property="siteName" column="site_name"/>
		<result property="channelName" column="channel_name"/>
		<result property="channel" column="channel"/>
		<result property="userName" column="user_name"/>
		<result property="userMobile" column="user_mobile"/>
		<result property="orderName" column="order_name"/>
		<result property="classType" column="class_type"/>
		<result property="orderNum" column="order_num"/>
		<result property="orderType" column="order_type"/>
		<result property="payStatus" column="pay_status"/>
		<result property="cost" column="cost"/>
		<result property="primeCost" column="prime_cost"/>
		<result property="orderFinishDate" column="order_finish_date"/>
		<result property="orderExpireDate" column="order_expire_date"/>
	</resultMap>

    <select id="coPending" parameterType="String" resultType="int">
		select count(0)
		from ty_course
		where status = 1 and is_del = 1
		<if test="orgCode != null and orgCode != ''">
			AND code = #{orgCode}
		</if>
    </select>

    <select id="online" parameterType="String" resultType="int">
        select count(0)
        from ty_course
        where status = 4 and is_del = 1
		<if test="orgCode != null and orgCode != ''">
			AND code = #{orgCode}
		</if>
    </select>

    <select id="notThrough" parameterType="String" resultType="int">
        select count(0)
        from ty_course
        where status = 2 and is_del = 1
		<if test="orgCode != null and orgCode != ''">
			AND code = #{orgCode}
		</if>
    </select>

	<!--	销售总金额	-->
	<select id="sumSales" parameterType="String" resultType="int">
		SELECT IFNULL(SUM(prime_cost),0)
		FROM ty_orders
		WHERE refund_name = '已付款'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
	</select>

	<!--	自有渠道销售总金额	-->
	<select id="ownChannelSales" resultType="int" parameterType="string">
		select IFNULL(SUM(prime_cost),0)
		from ty_orders
		where channel_name != '添翼申学' AND refund_name = '已付款'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
	</select>

	<!--	添翼申学销售总金额	-->
	<select id="wings" parameterType="String" resultType="int">
		select IFNULL(SUM(prime_cost),0)
		from ty_orders
		where channel_name = '添翼申学' AND refund_name = '已付款'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
	</select>

	<!--	已付费学生数	-->
	<select id="students" parameterType="String" resultType="Orders">
		select DISTINCT user_mobile
		from ty_orders
		where refund_name = '已付款'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
		GROUP BY user_mobile
	</select>

	<!--	自由渠道付费学生数	-->
	<select id="ownChannel" parameterType="String" resultType="Orders">
		select DISTINCT user_mobile
		from ty_orders
		where refund_name = '已付款' and channel_name != '添翼申学'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
		GROUP BY user_mobile
	</select>

	<!--	添翼申学付费学生总数	-->
	<select id="wingsOwn" parameterType="String" resultType="Orders">
		select DISTINCT user_mobile
		from ty_orders
		where refund_name = '已付款' and channel_name = '添翼申学'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
		GROUP BY user_mobile
	</select>

	<select id="CourseName" resultType="com.ruoyi.web.controller.report.domain.Orders" resultMap="CourseResult">
		select course_name
		from ty_orders
		where refund_name = '已付款'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
		GROUP BY course_name
		ORDER BY sum(prime_cost) desc
		limit 0,5
	</select>

	<select id="countCourseName" parameterType="String" resultType="int">
		select SUM(prime_cost)
		from ty_orders
		where refund_name = '已付款'
		<if test="orgCode != null and orgCode != ''">
			AND org_code = #{orgCode}
		</if>
		GROUP BY course_name
		ORDER BY sum(prime_cost) desc
		limit 0,5
	</select>

	<select id="dateFormat" resultType="String">
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL xc day), '%m-%d') as date
		FROM (SELECT @xi := @xi + 1 as xc
			 from (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7
			  UNION SELECT 8 UNION SELECT 9 UNION SELECT 10 UNION SELECT 11 UNION SELECT 12 UNION SELECT 13 UNION SELECT 14) xc1,
			  (SELECT @xi := 0) xc0) xcxc
		ORDER BY date ASC
	</select>

	<select id="sales14" resultType="String" parameterType="list">
		select ANY_VALUE(IFNULL(sum.primeCost,0)) primeCost from(
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 2 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 3 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 4 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 5 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 6 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 7 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 8 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 9 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 10 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 11 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 12 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 13 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 14 DAY), '%Y-%m-%d')) temporary
		LEFT JOIN (select ANY_VALUE(sum(o.prime_cost)) as primeCost, ANY_VALUE(DATE_FORMAT(o.order_finish_date, '%Y-%m-%d')) as orderFinishDate
		FROM ty_orders o WHERE o.refund_name = '已付款'
		AND DATEDIFF(o.order_finish_date, NOW()) &lt;0
		AND DATEDIFF(o.order_finish_date, NOW()) > -15
		<if test="siteName != null and siteName != '' and siteName !='所有机构'">
			AND o.site_name= #{siteName}
		</if>
		<if test="orgCode != null and orgCode != ''">
			AND o.org_code = #{orgCode}
		</if>
		GROUP BY day(o.order_finish_date)
		ORDER BY day(o.order_finish_date) ASC
		) sum on temporary.dat = sum.orderFinishDate
		ORDER BY temporary.dat ASC
	</select>

	<select id="countSales14" resultType="String" parameterType="list">
		select ANY_VALUE(IFNULL(sum.primeCost,0)) primeCost from(
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 2 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 3 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 4 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 5 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 6 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 7 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 8 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 9 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 10 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 11 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 12 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 13 DAY), '%Y-%m-%d') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 14 DAY), '%Y-%m-%d')) temporary
		LEFT JOIN (select ANY_VALUE(count(DISTINCT o.user_mobile)) as primeCost, ANY_VALUE(DATE_FORMAT(o.order_finish_date, '%Y-%m-%d')) as orderFinishDate
		FROM ty_orders o WHERE o.refund_name = '已付款'
		AND DATEDIFF(o.order_finish_date, NOW()) &lt;0
		AND DATEDIFF(o.order_finish_date, NOW()) > -15
		<if test="siteName != null and siteName != '' and siteName !='所有机构'">
			AND o.site_name= #{siteName}
		</if>
		<if test="orgCode != null and orgCode != ''">
			AND o.org_code = #{orgCode}
		</if>
		GROUP BY day(o.order_finish_date)
		ORDER BY day(o.order_finish_date) ASC
		) sum on temporary.dat = sum.orderFinishDate
		ORDER BY temporary.dat ASC
	</select>

	<select id="institutions6" resultType="String">
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL xc month), '%y年-%m月') as date
		FROM (SELECT @xi := @xi + 1 as xc
		from (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6) xc1, (SELECT @xi := 0) xc0) xcxc
		ORDER BY date ASC
	</select>

		<select id="totalSales" resultType="String" parameterType="String">
		select ANY_VALUE(IFNULL(sum.count,0)) count from(
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 2 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 3 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 4 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 5 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 6 MONTH), '%Y%m') as dat
		) temporary LEFT JOIN (
		select ANY_VALUE(sum(o.prime_cost)) count,ANY_VALUE(DATE_FORMAT(o.order_finish_date,'%Y%m')) date
		FROM ty_orders o WHERE o.refund_name = '已付款' AND PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m'))&lt;0
		AND PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) >-7
		<if test="orgCode != null and orgCode != ''">
			AND o.org_code = #{orgCode}
		</if>
		GROUP BY PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m'))
		ORDER BY PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) ASC
		) sum on temporary.dat = sum.date
		ORDER BY temporary.dat ASC
	</select>

	<select id="totalSalesNo" resultType="String" parameterType="String">
		select ANY_VALUE(IFNULL(sum.count,0)) count from(
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 2 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 3 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 4 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 5 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 6 MONTH), '%Y%m') as dat
		) temporary LEFT JOIN (select ANY_VALUE(sum(o.prime_cost)) count,ANY_VALUE(DATE_FORMAT(o.order_finish_date,'%Y%m')) date
		FROM ty_orders o WHERE o.refund_name = '已付款' AND o.channel_name != '添翼申学'
		AND PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) &lt;0
		AND PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) >-7
		<if test="orgCode != null and orgCode != ''">
			AND o.org_code = #{orgCode}
		</if>
		GROUP BY PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m'))
		ORDER BY PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) ASC
		) sum on temporary.dat = sum.date
		ORDER BY temporary.dat ASC
	</select>

	<select id="totalSalesYes" resultType="String" parameterType="String">
		select ANY_VALUE(IFNULL(sum.count,0)) count from(
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 2 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 3 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 4 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 5 MONTH), '%Y%m') as dat UNION ALL
		SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 6 MONTH), '%Y%m') as dat
		) temporary LEFT JOIN (select ANY_VALUE(sum(o.prime_cost)) count,ANY_VALUE(DATE_FORMAT(o.order_finish_date,'%Y%m')) date
		FROM ty_orders o WHERE o.refund_name = '已付款' AND o.channel_name = '添翼申学'
		AND PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) &lt;0
		AND PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) >-7
		<if test="orgCode != null and orgCode != ''">
			AND o.org_code = #{orgCode}
		</if>
		GROUP BY PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m'))
		ORDER BY PERIOD_DIFF(DATE_FORMAT(o.order_finish_date,'%Y%m'), DATE_FORMAT(NOW(),'%Y%m')) ASC
		) sum on temporary.dat = sum.date
		ORDER BY temporary.dat ASC
	</select>

	<select id="selectSiteName" resultType="String" parameterType="String">
		select DISTINCT site_name
		FROM ty_orders
		<if test="orgCode != null and orgCode != ''" >
			where org_code = #{orgCode}
		</if>
	</select>
</mapper>