<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改字典')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-dict-edit" th:object="${dict}">
			<input name="codeId"  type="hidden"  th:field="${dict.codeId}" />

			<div class="form-group">
				<label class="col-sm-3 control-label ">字典类型：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="codeType" id="codeType" th:field="${dict.codeType}" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label ">字典键值：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="codeNo" id="codeNo" th:field="${dict.codeNo}" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label ">字典键值：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="codeName" id="codeName" th:field="${dict.codeName}" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="Lz_dict : ${@Lz_dict.getType('dictionaryStatus')}">
						<input type="radio" th:id="${Lz_dict.codeId}" name="codeFlay" th:value="${Lz_dict.codeNo}" th:field="${dict.codeFlay}">
						<label th:for="${Lz_dict.codeId}" th:text="${Lz_dict.codeName}"></label>
					</div>
				</div>
			</div>

		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "blog/dict";
	
		$("#form-dict-edit").validate({
			rules:{
				dictSort:{
					digits:true
				},
			},
			focusCleanup: true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-dict-edit').serialize());
			}
		}
	</script>
</body>
</html>
