<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('课程管理')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								课程标题：<input type="text" name="coTitle"/>
							</li>
							<li>
								发布用户：<input type="text" name="evtRelName"/>
							</li>
							<li>
								课程类型：<select name="coType" th:with="type=${@Lz_dict.getType('courseType')}">
								<option value="">所有</option>
								<option th:each="Lz_dict : ${type}" th:text="${Lz_dict.codeName}" th:value="${Lz_dict.codeNo}"></option>
							</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "blog/course";
		var dataa = [[${@Lz_dict.getType('courseType')}]];
		$(function() {
		    var options = {
		        url: prefix + "/list",
				detailUrl: prefix + "/detailed/{id}",
				modalName: "课程",
		        columns: [
				{
					field: 'coTitle',
					title: '课程标题',
					width: '480',
					formatter: function(value, row, index) {
						return $.table.tooltip(value);
					}
				},
		        {
		            field: 'createBy',
		            title: '发布用户'
		        },
		        {
		            field: 'coType',
		            title: '课程类型',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel1(dataa, value);
					}
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.coId + '\')"><i class="fa fa-search"></i>查看</a> ');
		                return actions.join('');
		            }
		        }
		        ]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>